header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.dashboardLabel {
    padding-top: 80px;
    padding-left: 10px;
}

/* Create columns/boxes that floats next to each other */
nav {
    float: left;
    width: 23%;
    padding: 5px;
}

.vl1 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 70;
}

.vl2 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 42%;
    top: 70;
}

.vl3 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 67%;
    top: 70;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

.topbar {
    background-color: #ff8433;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    left: 0px;
    padding-left: 10px;
}

.lists {
    position: fixed;
    top: 150px;
    width: 100%;
    height: 80%;
    padding-left: 10px;
}